<main class="establishment-card">
    <aside class="card-img-aside">
        <img [src]="establishment.picture">
    </aside>
    <aside class="card-info-aside">
        <header class="card-info-header">
            <h4 class="card-info-name">{{establishment.name}}</h4>
            <p class="card-info-id">{{establishment.id}}</p>
        </header>
        <footer class="card-info-footer">
            {{establishment.address}}
            <!-- <span class="card-info-city"></span>  -->
            <!-- | -->
            <!-- <span class="card-info-address">R. Reinaldino Schaffenberg de Quadros, 1760 - Alto da XV</span> -->
        </footer>
    </aside>
</main>