<main class="establishment-card" (click)="goToEstablishment(establishment)">
    <aside class="card-img-aside">
        <img [src]="establishment.picture">
    </aside>
    <aside class="card-info-aside">
        <header class="card-info-header">
            <h4 class="card-info-name">{{establishment.name}}</h4>
            <p class="card-info-id">{{establishment.id}}</p>
        </header>
        <footer class="card-info-footer">
            {{establishment.address}}
        </footer>
    </aside>
</main>