@font-face{
    font-family: 'Margem';
    src: url('/assets/fonts/Margem Medium');
}

* {
    font-family: 'Margem';
}

#page-header {
    width: 100%;
    text-align: center;
    height: 50px;
    padding: 10px;
    box-sizing: border-box;
}
